html, body, #cover {
  height: 100%;
  background-color: #f7f7f7;
}

.nav-names {
  font-size: 17px;
  font-family: "Avenir Next" !important;
  color: #000000;
}

.home-icon, .category-icon, .about-icon, .contact-icon, .search-icon, .basket-icon {
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  background-size: contain;
  display: block;
  margin: 0 auto;
  position: relative;
  color: #5D5D5D;
}

.site-icon {
  background-image: url(../assets/svg/water.svg);
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-size: contain;
  display: block;
  position: relative;
  color: #5D5D5D;
  margin-left: 300px;
}

.home-icon {
  background-image: url(../assets/svg/Home.svg);
}

.category-icon {
  background-image: url(../assets/svg/categories.svg);
}

.about-icon {
  background-image: url(../assets/svg/about.svg);
}

.contact-icon {
  background-image: url(../assets/svg/contact.svg);
}

.search-icon {
  background-image: url(../assets/svg/search.svg);
}

.basket-icon {
  background-image: url(../assets/svg/basket.svg);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: -35%;
  margin-right: -50%;
  border-radius: 10px;
  background-color: #fafafa;
  min-width: 160px;
  box-shadow: 0px 8px 16px 4px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  color: black !important;
}

.dropdown-content-basket {
  display: none;
  position: absolute;
  left: -100%;
  margin-right: -50%;
  border-radius: 10px;
  background-color: #fafafa;
  min-width: 160px;
  box-shadow: 0px 8px 16px 4px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  color: black !important;
  margin-top: -10px;
}

.drowdown-content-list-icon {
  height: 50px;
  width: 50px;
}

.dropdown-content-list {
  text-align: left;
  margin: auto;
  left: -35%;
  margin-right: 10%;
  background-size: contain;
}

p.dropdown-content-list:hover {
  background-color: #FACD63;
  color: white;
  border-radius: 10px;
}

span.nav-names:hover .dropdown-content {
  display: block;
}

a.dropdown.nav-link:hover .dropdown-content-basket {
  display: block;
}

span.nav-names {
  transition: color .01s ease;
}

span.nav-names:hover {
  color: #FACD63 !important;
}

nav {
  margin-left: 50px;
  margin-right: 50px;
}

#search-bar {
  display: none;
  font-family: "Avenir Next" !important;
  margin-top: -23px;
  border-radius: 10px;
  border-color: #5D5D5D;
}

#search-bar:target {
  display: block;
}

span.badge{
  background-color: #FACD63;
  color: white;
  border-radius: 10px;
  font-family: "Avenir Next" !important;
  font-weight: lighter;

}
