.products-content p {
  margin-bottom: 20px;
  text-align: center;
}

.products-content h3 {
  margin-top: 20px;
  text-align: center;
}

.products-content {
  margin-top: 30px;
}

button.btn:hover {
  color: beige;
}

.detail-btn {
  width: 120px;
  height: 45px;
  margin-bottom: 30px;
  z-index: -1;
  background-color: #facd63;
  color: white;
  border-radius: 10px;
  font-size: 20px;
}

body {
  font-size: 17px;
  font-family: "Avenir Next" !important;
  color: #000000;
  background-color: #f7f7f7;
}

.col-sm-3 {
  min-width: 240px;
}

.border {
  background-color: white;
}

.image-container {
  max-height: 200px;
  max-width: 200px;
  object-fit: cover;
}

.title {
  font-size: 45px;
  font-family: "Avenir Next" !important;
  font-weight: bold;
  color: #5D5D5D;
  position: absolute;
  margin-left: 80px;
  margin-top: 33px;
}

#titleShadow {
  font-size: 75px;
  font-family: "Avenir Next" !important;
  font-weight: bold;
  color: rgba(0, 0, 0, .05);
  position: absolute;
  margin-left: 10px;
  z-index: 0;
}

.title-box {
  z-index: 0;
}

.sort-box {
  padding-left: 275px;
  padding-top: 50px;
}
