.title {
font-size: 45px;
font-family: "Avenir Next" !important;
font-weight: bold;
color:#5D5D5D;
position: absolute;
margin-left: 115px;
margin-top: 33px;

}

#titleShadow{
  font-size: 75px;
  font-family: "Avenir Next" !important;
  font-weight: bold;
  color: rgba(0,0,0,.05);
  position: absolute;
  margin-left: 75px;
  z-index: 0;
}

.title-box{
  z-index: 0;
}
