<section id="product-detail">
  <div class="container">
    <div class="product-detail-content">
      <div class="row navigation-label">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#!/categories">Categories</a></li>
            <li class="breadcrumb-item"><a href="#!/categories/{{$ctrl.product.categoryId}}">{{$ctrl.product.category}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{$ctrl.product.name}}</li>
          </ol>
        </nav>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="item-circle">
            <div class="text-center">
              <img class="image-box-container" ng-src="{{$ctrl.product.imageUrl}}">
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <h1>{{$ctrl.product.name}}<h1>
          <p class="product-description">{{$ctrl.product.description}}<p>
<div class="row">
<div class="col-lg-4 quantity-container">
  <button ng-click="decreaseQuantity()" class="btn btn-outline-warning increment-button">-</button>
    <input class="input-container" maxlength="2" value="{{quantity}}"> </input>
  <button ng-click="incrementQuantity()"  class="btn btn-outline-warning increment-button">+</button>
</div>
<div class="col-lg-4 price-container">
<h6 class="priceTxt">{{price | currency}}<h6>
</div>
<div class="col-lg-4 add-button-container">
 <button type="button" class="btn btn-outline-warning btn-shape">Add to Cart</button>
</div>
</div>
</div>
</div>
</section>
